body {
  background-color: #272727;
  margin: 0;
}

.fakeScreen {
  background-color: #000000;
  box-sizing: border-box;
  width: 425px;
  overflow: hidden;
  padding: 20px;
  opacity: 0.8;
}

.broadcaster {
  color: red;
}

.moderator {
  color: blue;
}

.founder {
  color: orange;
}

.subscriber {
  color: green;
}

.prime {
  color: purple;
}

.vip {
  color: yellow;
}

span {
  color: #fff;
  font-weight: bold;
}

.dollar {
  color: #eeca00;
}

.username-path {
  color: #20bf55;
}

.usr-path {
  color: #eeeeee;
}

.slash {
  color: #ffffff;
}

.message-text {
  color: #01baef;
}

.carret {
  margin-right: 0.7rem;
  color: #fff;
}

.line1 {
  color: #9cd9f0;
  -webkit-animation: type 0.5s 1s steps(20, end) forwards;
  -moz-animation: type 0.5s 1s steps(20, end) forwards;
  -o-animation: type 0.5s 1s steps(20, end) forwards;
  animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 infinite;
  -moz-animation: blink 1s 2s 2 infinite;
  -o-animation: blink 1s 2s 2 infinite;
  animation: blink 1s 2s 2 infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

.typewriter {
  font-family: "Quicksand", sans-serif;
  display: flex;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  color: white;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-o-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
